#sidebar {
    width:20vw;
    border-radius: 5px;
    height:86vh;
    position:fixed;
    top:0vh;
    right:0vw;
    animation:right 6s 1;
    background-color: rgba(29, 29, 29, 0.849);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgb(209, 209, 209);
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar_layer {
    width:20vw;
    height:86vh;
    position:fixed;
    animation:right 6s 1;
    top:0vh;
    right:0vw;
    background-image: url("https://i.pinimg.com/originals/87/62/7b/87627b50868f627d9b379917dfda8e04.jpg");
    background-size: cover;
}

#sidebar .declare {
    height:4vh;
    background-color: black;
    padding:5px;
    font-size: 1vmax;
    transform: scale(1);
}

#sidebar #contacts, #groups {
    height:35vh;
    transition:0.6s;
    overflow-y: auto;
    overflow-x: hidden;
}

#imp_contacts {
    max-height:35vh;
    transition:0.6s;
}

#create_contact {
    display:flex;
    height:25%;
}

#important_contacts {
    height:65%;
    overflow-y: auto;
    overflow-x: hidden;
}

#contact_info {
    width:80%;
}

#save_contact {
    width:20%;
}

#contactname, #contactemail {
    width:90%;
    border-radius: 3px;
    padding-left: 10px;
    box-sizing: border-box;
    background-color:rgb(218, 218, 218);
    border: none;
    font-size: 16px;
}

#contactname:focus, #contactemail:focus {
    outline: none;
}

#save_con {
    width:90%;
    height:90%;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    background-color: rgb(111, 195, 214);
    color:black
}

#groups {
    z-index: 1;
}

.account {
    margin:2%;
    box-sizing:border-box;
    height:5vh;
    width:98%;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.account:hover {
    border: 1px solid grey;
    border-radius: 2px;
    background-color: rgba(153, 153, 153, 0.267);
}

.account_name {
    width:80%;
    transition: 0.5s;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5px;
    padding-left: 5px;
    text-align: left;
}

.account_name p {
    min-width: 40%;
    font-size: 1.0vmax;
}

.account_name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    transition:0.6s;
    transition-delay: 0.2s;
}

.account_email {
    clip-path:inset(0% 100% 0% 0%);
    transition:0.6s;
    transition-delay: 0.2s;
}

.account_name:hover .account_email {
    clip-path:inset(0% 0% 0% 0%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color:rgb(255, 255, 255);
    font-size: 0.8vmax;
    margin-left: 0.1vh;
}

.account_mail {
    width:20%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    cursor: pointer
}

.account_mail:hover {
    transition:0.3s;
    transform: rotate(0) scale(1.4);
}

.group {
    width:100%;
    padding-left: 10px;
}

.group_name, .group_members {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.group_name .name {
    width:80%;
    height:5vh;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    flex-direction: row;
    z-index: 1;
}

.group_name:hover {
    border: 1px solid grey;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.678);
}

.group_members .members {
    width:100%;
    display: none;
    flex-direction: column;
    text-align: left;
    padding:10px;
    box-sizing: border-box;
    font-size: 1vw;
    font-weight: 100;
}

.group:hover .group_members .members {
    display:inline-block;
}

#profile {
    height:14vh;
    width: 19.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 0, 4);
    border: 0.1vw solid grey;
    position:fixed;
    right:0;
    bottom:0;
}

#profile_log{
    width:30%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logger {
    width:70%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logged_in{
    height:60%;
    font-size: 0.9vmax;
    color:lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout {
    height:40%;
    border:none;
    border: 1px solid rgb(255, 0, 0);
    border-style:solid hidden solid hidden;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vmax;
    font-weight: 500;
    color:red;
    margin:10px;
}

#logout:hover {
    background-color: rgba(255, 0, 0, 0.445);
}

#hr {
    height:50%;
}

#profile_name {
    font-size: 1.2vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#profile_email {
    font-size: 1vmax;
    word-break: break-all;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

@keyframes right {
    0%{
        opacity: 0;
    }
    90%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}