.mails {
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation:appear 6s 1;
}

.mailbox_name {
    height:10vh;
    background-color: rgb(250,250,250);
    border: 1px solid grey;
    width:95%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(67, 82, 67);
    margin-top:2vh;
}

#search {
    width:85%;
    height:10vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    border: 1px solid grey;
    border-style: solid hidden solid hidden;
}

.left_div {
    height:10vh;
    width:20%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    font-weight: 400;
    font-variant: small-caps;
    color: grey;
    border:1px solid grey;
    border-style: hidden solid hidden hidden;
    box-sizing: border-box;
}

.right_div {
    height:10vh;
    width:80%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_div hr {
    background-color:rgb(207, 207, 207);
    width:1px;
    height: 40%;
    border: none;
}

.searchbar {
    height:70%;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar input {
    width:100%;
    height:70%;
    border-radius: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border: 1px solid red;
    padding-left: 2vw;
}

#name_search {
    margin-left: 2vw;
    border-style: solid hidden solid solid;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#subject_search {
    margin-right: 2vw;
    border-style: solid solid solid hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.searchbar input:focus {
    outline: 1px red solid;
}

.email_rep {
    height: 8vh;
    width: 85%;
    border: 1px solid lightgrey;
    overflow: hidden;
    border-style: solid hidden solid hidden;
}

.email_info_rep, .email_info_2_rep {
    height:4vh;
    width:100%;
    display:flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.email_body_rep {
    width:80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.email_sent_date_rep {
    width:20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color:black;
}

.email_sender_rep {
    width:90% !important;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 30%;
    display: flex;
    align-items: center;
}

.email_body_rep {
    width:90% !important;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    width: 30%;
    display: flex;
    color:rgb(51, 51, 71);
    align-items: center;
    height:4vh;
    display: flex;
    align-items: flex-start;
}

.email_sent_time_rep {
    width:20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color:black;
}

#email_subject_rep {
    font-size: 16px;
    color:rgb(80, 80, 80);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300;
    margin-right: 20px;
}

.message {
    display:none;
    padding:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    position: fixed;
    left: 15vh;
    bottom: 0;
}

#allmail {
    width:100%;
    display: flex;
}

#left_mail, #right_mail {
    width:50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#important_email, #sent_email, #archived_email, #inbox_email {
    width:95%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 10px;
}

#allmail .mailbox_name {
    height:5vh;
    margin: 0;
    width:100%;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(77, 77, 77);
    color: white;
}

#allmail .email_rep {
    height:12vh;
}

#allmail .email_info_rep, .email_info_2_rep {
    height:6vh;
}

.email_list {
    display:flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    margin-bottom: 35px;
}

.network_declare {
    width:90%;
    padding:2vh;
    background-color: black;
    color:white;
    font-size: 3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.network_smaller {
    font-size: 2vh;
}

#network_contacts {
    width:85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#groupmail .network_declare {
    background-color: brown;
}

.network_account {
    padding:1vh;
    margin:10px;
    border: 1px solid darkslateblue;
    font-size: 4vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.network_account hr {
    width:90%;
    height:1px;
    background-color: lightgray;
    outline: none;
    border: none;
}

.network_account_email {
    font-size: 3vh;
    font-weight: 100;
}

.mail_account {
    font-size: 2.5vh;
    color: darkblue;
    cursor: pointer;
}

.network_group {
    width:100%;
    max-height: 40vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    border: 1px solid darkblue;
}

.network_group_name {
    padding:15px;
    background-color: rgb(7, 7, 75);
    color:white;
    font-size: 20px;
    font-weight: 400;
}

#group_list {
    display: flex;
    justify-content: center;
    width:90%;
}

#group_list .network_declare {
    background-color: black;
}

#show_groups, #create_group {
    width:50%;
}

#create_group {
    margin:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#group_create_details {
    padding:5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.network_group_members {
    padding:10px;
}

#group_create_details input {
    width:95%;
    height:7vh;
    margin:15px;
    border-radius: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#group_contacts {
    width:100%;
    border: 1px solid green;
    padding:10px;
    border-radius: 5px;
}

#group_contacts input{
    width:100%;
    height:5vh;
    font-size: 16px;
}

#group_list hr {
    height:1px;
    width:70%;
    outline: none;
    margin:5px;
    background-color:lightgray
}

.group_account {
    height:8vh;
    width:100%;
    padding: 5px;
    box-sizing: border-box;
    border:1px solid grey;
    border-style: hidden hidden solid hidden;
    font-family:Arial, Helvetica, sans-serif;
}

.group_account:hover {
    background-color: rgb(240, 240, 240);
}

.group_account_name, .group_account_email {
    height:4vh;
}

.group_account_email {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#create_group_button {
    height:5vh;
    width:50%;
    background-color: rgb(68, 68, 68);
    border-radius: 7px;
    border: none;
    outline:none;
}

#group_message {
    position:fixed;
    bottom:0;
    left:0;
    background-color: black;
    color: white;
    padding:10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}