#compose_email {
    position:absolute;
    left:10vw;
    top:0;
    z-index: 1;
    width:50vw;
    height:80vh;
    background-color: white;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: grey 1px solid;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgb(194, 194, 194) ;
}

#compose {
    width:100%;
    height:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#email_declare #close {
    color:red; 
    font-size:14px;
    padding-right:20px;
    float: right;
    font-weight: 100;
    cursor: pointer;
}

#compose_email hr {
    height:0px;
    width:95%;
    box-shadow: 2px 2px 2px rgb(241, 241, 241);
    border-radius: 5px;
}

#compose_email input, textarea {
    width: 100%;
    font-size: 17px;
    border: none;
    padding: 5px;
    margin:2px;
    white-space: pre-wrap;
    padding-left:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    box-sizing: border-box;
    height:5vh;
}

#compose_email #important {
    height:90%;
    width:20%;
}

#compose_email textarea {
    height:50vh;
    resize:none;
}

#compose_email input:focus, textarea:focus {
    outline-color: grey;
    outline-width: 1px;
    border-radius: 5px;
}

label {
    width:100%;
    height:5vh;
    display: flex;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    color:grey;
    padding: 5px;
    margin:2px;
    padding-left:10px;
    font-size: 17px;
    box-sizing: border-box;
}

label #important {
    width:10%;
}

#compose_email #email_declare {
    height:5vh;
    width:100%;
    color:white;
    border-radius: 5px;
    background-color: black;
    padding-left:10px;
    box-sizing: border-box;
    padding-top: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#send_email {
    position:absolute;
    bottom:-20px;
    right:-20px;
    font-size: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 255, 191);
    border: 2px solid rgb(255, 0, 0);
    border-radius: 100vw;
    color: rgb(0, 0, 0);
}

#message_toggle {
    position:absolute;
    bottom:0;
    left:0;
    padding:15px;
    background-color: black;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    z-index: 1;
}