.mail {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_navigation {
    width:90%;
    height:15vh;
    border: 1px solid grey;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    align-items: center;
}

#archive_action, #reply_action {
    color:black;
    font-weight: 400;
    cursor: pointer;
    margin: 3vh;
    font-size: 20px;
}

#archive_action {
    color:rgb(0, 92, 0);
}

#reply_action {
    color:rgb(0, 0, 73);
}

.back {
    cursor: pointer;
    color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    width:20vw;
}

.actions {
    width:100%;
    text-align: right;
}

.email {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email hr {
    width:85%;
    height:0px;
    background-color:rgb(233, 233, 233);
}

.email_subject {
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin: 3vh;
    font-size: 2vw;
    font-family:Arial, Helvetica, sans-serif;
    width:85%;
    text-align: center;
    box-sizing: border-box;
    border:1px solid grey;
    border-style: solid hidden solid hidden;
    background-image: radial-gradient(circle, rgb(224, 224, 224),white);
}

.email_sent {
    height:10vh;
    width: 85%;
    display: flex;
}

.email_sender, .email_stamp {
    width:50%;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.email_stamp {
    justify-content: flex-end;
}

.email_body {
    width:85%;
    padding:2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: pre;
}